@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

$section-padding: 1rem .5rem;
$body-background-color: $black-bis;
$text: $grey-light;
$title-color: $grey-lighter;
$subtitle-color: $white-ter;
$subtitle-strong-color: $white-bis;
$label-color: $grey-light;
$card-background-color: $black;
$box-background-color: $black-bis;
$strong-color: $grey-lighter;
$navbar-background-color: $black;

@import "../node_modules/bulma/bulma";

#videos {
  margin-top: .5em;
  .column.selected {
    padding: .5em;
    border: solid .25em $white-bis;
  }
}

#songs .column.selected {
  background-color: $white-bis
}

#volLabel {
  font-family: $family-monospace;
}
